body{
     font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    min-height: 100vh;
   
    
}


        h1{
            font-size: 30px;
            font-family: italic;   
            font-weight: 700;
            font-style: oblique;
        }
        h2{font-size: 30px;
            font-family: italic;   
            font-weight: 700;
            font-style: oblique;
        }

.h1{
    text-align: center;
    text-transform: capitalize;
    text-indent: 0px;
    
}
h2{
    text-align: center;
    text-transform: capitalize;
    
}

img {
  width: 100px;
  display: block;   
  margin: 0 auto; 
  border-width: 2px; 
  border: double;
  border-color: rgb(140, 137, 168);  
  border-radius: 100%;
}
.div1{
    width: 500px;
    height:250px  ;
    background-color:rgb(106, 116, 245);
    text-align: justify;
    display: block;
    border-radius:20px;
    margin: 0 auto; 
    text-indent: 70px;
    text-shadow: 0px 5px 10px rgb(51, 31, 31);
    
   }
.p1{
    text-align: center;
    text-indent: 0px;
    text-decoration: solid;
}