* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    min-height: 100vh;  
}

/*class:info*/
.inf{
    font-size: 40px;
    font-family: italic;   
    font-weight: 100;
    font-style: oblique;
    text-align: center;
}
.info{
    font-size: 20px;
    font-family: italic;   
    font-weight: 200;
    font-style: oblique;
    text-align: center;
}

img {
  width: 100px;
  display: block;   
  margin: 0 auto; 
  border: double;
  border-color: rgb(140, 137, 168);  
  border-radius: 100%;
}
.div-info{
    width: 500px;
    height:250px  ;
    background-color:rgb(31, 48, 30);
    text-align: justify;
    display:block;
    border-radius:20px;
    margin: 20px auto; 
    text-indent: 35px;
    text-shadow: 0px 5px 10px rgb(44, 35, 35);
    font-weight: 700;
   }



   h2{
    font-size: 30px;
    font-family: italic;   
    font-weight: 700;
    font-style: oblique;
 }

h2{
    text-align: center;
    text-transform: capitalize;
    
}
